body {
    background-color: rgb(0, 173, 239);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
}

.nav-logo {
    height: 65pt;
}

.nav-small-logo {
    height: 35pt;
}

.nav-small-logo-icon {
    font-size: 2em;
}

footer {
    background-color: #343a40;
}

.footer-link:hover {
    color: #adb5bd;
}

.hover-underline {
    position: relative;
    display: inline-block;
}

.hover-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

header {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    z-index: 1040; /* Ensure header is above other elements */
    position: fixed;
    width: 100%;
    top: 0;
}

@media (max-width: 768px) {
    .nav-logo {
        height: 40pt;
    }

    .nav-small-logo {
        width: 35px;
        height: 35px;
    }

    .navbar {
        padding-bottom: 0;
    }

    .navbar-nav {
        text-align: center;
        width: 100%;
    }

    .navbar-nav .nav-link {
        display: block;
    }
}