/* LOGO HEX CODES
DARK BLUE: #2e3192
LIGHT BLUE: #00adef
*/

/* Start of Hero section */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/images/church.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 2rem 0;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.title {
    font-family: 'Georgia', serif;
    font-size: 4rem;
    font-weight: bold;
}

.subtitle {
    font-family: 'Georgia', serif;
    font-size: 2rem;
    font-weight: bold;
}

/* Adjust styles for smaller screens */
@media (max-width: 768px) {
    .title {
        font-size: 2.5rem;
        /* Smaller title on mobile */
    }

    .subtitle {
        font-size: 1.5rem;
        /* Adjust subtitle */
    }

    p.fs-4 {
        font-size: 1.2rem;
        /* Smaller text for service times */
    }

    .btn-lg {
        padding: 0.75rem 1.25rem;
        /* Smaller button for mobile */
        font-size: 1rem;
    }

    .services .row {
        flex-direction: column;
        align-items: center;
    }

    .card-small {
        width: 100%;
        margin-bottom: 20px;
    }

    .card-img-top {
        height: auto;
    }

    .img-small {
        height: auto;
    }

    .section-left, .section-right {
        opacity: 0;
        transform: translateY(20px); /* Use translateY for mobile view */
        transition: opacity 1s ease, transform 1s ease;
    }

    .animate-left, .animate-right {
        opacity: 1;
        transform: translateY(0);
    }
}

/* End of Hero section */

/* Start of services (ministries) section */
.services .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card-small {
    width: 100%;
    margin: 10px auto;
    padding: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; /* Ensure no background color */
    box-shadow: none; /* Remove any box shadow */
}

.card {
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent; /* Ensure no background color */
    box-shadow: none; /* Remove any box shadow */
    height: 100%; /* Ensure card takes full height */
}

.card-img-top {
    border-radius: 0;
    width: 100%;
    height: 100%; /* Ensure image takes full height */
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.img-small {
    height: 100%; /* Ensure image takes full height */
    object-fit: cover;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none; /* Ensure no border */
}

/* End of services (ministries) section */

.map {
    padding-bottom: 4%;
    padding-top: 4%;
    background-color: #f8f9fa;
}
