body {
    font-family: Arial, sans-serif;
    background-color: rgb(0, 173, 239);
}

/* Navbar and announcement */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
}

.nav-logo {
    height: 65pt;
}

.nav-small-logo {
    height: 30pt;
}

/* Shrink logos on smaller screens */
@media (max-width: 768px) {
    .nav-logo {
        height: 40pt;
    }

    .nav-small-logo {
        width: 35px;
        height: 35px;
    }

    .navbar {
        padding-bottom: 0;
    }
}

/* End Of navbar and announcement */





/* Start of Hero section */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/images/church.jpg");
    height: 120vh;
    background-size: cover;
    background-position: center;
    padding: 2rem 0;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.title {
    font-family: 'Georgia', serif;
    font-size: 4rem;
    font-weight: bold;
}

.subtitle {
    font-family: 'Georgia', serif;
    font-size: 2rem;
    font-weight: bold;
}

/* Adjust styles for smaller screens */
@media (max-width: 768px) {
    .title {
        font-size: 2.5rem;
        /* Smaller title on mobile */
    }

    .subtitle {
        font-size: 1.5rem;
        /* Adjust subtitle */
    }

    p.fs-4 {
        font-size: 1.2rem;
        /* Smaller text for service times */
    }

    .btn-lg {
        padding: 0.75rem 1.25rem;
        /* Smaller button for mobile */
        font-size: 1rem;
    }
}

/* End of Hero section */

/* Start of services section */




/* End of services section */


/*start of map */
.map {
    padding-bottom: 4%;
    padding-top: 4%;
    background-color: #f8f9fa;
}
/* End of map */

/*start of footer */
footer {
    background-color: #343a40;
}

.footer-link:hover {
    color: #adb5bd;
}
/*end of footer */