{% extends "base.html" %}
{% load static %}
{% block title %}Ministries - Spanish Trail BC{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static "ministries.css" %}" />

<section class="bottom-padding">
    <h1 class="ministries-title">Our Ministries</h1>
    <!-- Sunday Worship Section -->
    <div class="section slide-left">
        <img src="{% static 'images/church_edited.jpg' %}" alt="Sunday Worship Image" class="section-image">
        <div class="overlay">Sunday Worship</div>
    </div>
    <p class="description"><b>Join Us In Worshiping Our God! </b><br> Sunday School starts at 9:30 A.M every Sunday morning with Worship Service at 10:30 A.M. <br>Sunday night Worship service starts at 5:30 P.M.</p>

    <!-- Bible Study Section -->
    <div class="section slide-right">
        <img src="{% static 'images/bible-study.jpg' %}" alt="Bible Study Image" class="section-image">
        <div class="overlay">Bible Study</div>
    </div>
    <p class="description"><b>Studying God's Word</b><br>Join us every Wednesday night starting at 6:00 P.M for our weekly Bible Study.</p>

    <!-- Bible Challenge Section -->
    <div class="section slide-left">
        <img src="{% static 'images/bible.jpg' %}" alt="Bible Challenge Image" class="section-image">
        <div class="overlay">Bible Challenge</div>
    </div>
    <p class="description"><b>Children of all ages have a fun safe place to learn about the stories God has given us. </b><br> Bible Challenge (for students in the 1st-12th grade) and Bible Challenge Jr. (for students ages 3 to 5), by Bogard Press are Bible-based programs that are designed to teach students the importance of studying and learning God's Word and hiding it in their hearts. For more information visit <a href="https://bogardpress.org/bible-challenge" target="_blank">https://bogardpress.org/bible-challenge.</a></p>

    <!-- Lady's Auxiliary Section -->
    <div class="section slide-right">
        <img src="{% static 'images/lady-aux.jpg' %}" alt="Lady's Auxiliary Image" class="section-image">
        <div class="overlay">Lady's Auxiliary</div>
    </div>
    <p class="description"><b>Not Forsaking The Assembling of Ourselves</b><br>Providing women a time and place to dig deep through the scriptures in a comfortable setting among themselves.</p>
</section>
<script src="{% static 'ministries.js' %}"></script>
{% endblock %}