{% extends "base.html" %}
{% load static %}
{% block title %}Ministries - Spanish Trail BC{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static "styles.css" %}" />
<link rel="stylesheet" href="{% static "ministries.css" %}" />

<section>
  <!-- Adult Ministry Section -->
  <div class="section section-left">
    <img src="{% static 'images/bible.jpg' %}" alt="Adult Ministry Image" class="section-image">
    <div class="overlay">Adult Ministry</div>
  </div>
  <p class="description">Adults in fellowship ministering to each other as God directs our paths.</p>

  <!-- Children's Ministry Section -->
  <div class="section section-right">
    <img src="{% static 'images/bible.jpg' %}" alt="Children's Ministry Image" class="section-image">
    <div class="overlay">Children's Ministry</div>
  </div>
  <p class="description">Children of all ages have a fun safe place to learn about the stories God has given us.</p>
</section>

{% endblock %}