{% extends "base.html" %}
{% load static %}
{% block title %}Staff - Spanish Trail BC{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static "staff.css" %}" />

<div class="container padding">
    <div class="row">
        <div class="col-md-12">
            <h1>Staff</h1>
            <p>Our staff is here to serve you. If you have any questions, please feel free to contact us.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="{% static "images/cross.jpg" %}" alt="Pastor" class="img-thumbnail">
            <h2>Pastor</h2>
            <p>Our pastor is here to serve you. If you have any questions, please feel free to contact him.</p>
        </div>
        <div class="col-md-4">
            <img src="{% static "images/cross.jpg" %}" alt="Secretary" class="img-thumbnail">
            <h2>Secretary</h2>
            <p>Our secretary is here to serve you. If you have any questions, please feel free to contact her.</p>
        </div>
        <div class="col-md-4">
            <img src="{% static "images/cross.jpg" %}" alt="Usher" class="img-thumbnail">
            <h2>Usher</h2>
            <p>Our usher is here to serve you. If you have any questions, please feel free to contact him.</p>
        </div>
    </div>
</div>




    <script src="{% static 'staff.js' %}"></script>
{% endblock %}