{% extends "base.html" %}
{% load static %}
{% block title %}Staff - Spanish Trail BC{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static "staff.css" %}" />

<div class="staff-container">
    <h1 class="staff-title">STAFF</h1>
    <div class="staff-grid">
        <!-- Staff Member 1 -->
        <div class="staff-card">
            <h2 class="staff-role">Pastor</h2>
            <img src="{% static 'images/church_edited.jpg' %}" alt="Pastor" class="staff-image">
            <p class="staff-description">Bro. Chris Webb</p>
            {% comment %} <p class="staff-status">Open</p> {% endcomment %}
        </div>
        <!-- Staff Member 2 -->
        <div class="staff-card">
            <h2 class="staff-role">Pianist</h2>
            {% comment %} <img src="{% static 'images/church_edited.jpg' %}" alt="Pianist" class="staff-image"> {% endcomment %}
            {% comment %} <p class="staff-description">name</p> {% endcomment %}
            <p class="staff-status">Open</p>
        </div>
        <!-- Staff Member 3 -->
        <div class="staff-card">
            <h2 class="staff-role">Song Leader</h2>
            {% comment %} <img src="{% static 'images/church_edited.jpg' %}" alt="Song Leader" class="staff-image"> {% endcomment %}
            {% comment %} <p class="staff-description">name</p> {% endcomment %}
            <p class="staff-status">Open</p>
        </div>
        <!-- Staff Member 4 -->
        <div class="staff-card">
            <h2 class="staff-role">Treasure</h2>
            {% comment %} <img src="{% static 'images/church_edited.jpg' %}" alt="Treasure" class="staff-image"> {% endcomment %}
            {% comment %} <p class="staff-description">name</p> {% endcomment %}
            <p class="staff-status">Open</p>
        </div>
        <!-- Staff Member 5 -->

    </div>
</div>

<script src="{% static 'staff.js' %}"></script>
{% endblock %}